# Build artifacts
build/
x64/
Debug/
Release/

# Compiled objects
*.obj
*.o

# Build logs
*.tlog
*.log

# Debug symbols
*.pdb

# Linker artifacts
*.ilk
*.exp
*.lib

# VS temp files
.vscode/
obj/
bin/
*.user
*.suo
.vs/
*.ipch/
ipch/
*.VC.db
*.VC.opendb
